{% extends 'base.html' %}
{% block content %}
<div class="reg_banner-form">
    <span class="form_title">рецепт</span>
    <form method="POST" action="/new_recipe/add/">
    {% csrf_token %}
    
    <div class="input-group">
        {{form.name}}
    </div>
    <div class="input-group">
        {{form.total_weight}}
    </div>
    <div class="input-group">
        {{form.description}}
    </div>

        <input class="but_ing" type="submit" value="Перейти к ингридиентам">
    </form>
</div>
{% if f %}
<div id="message">
    <div id="reg" style="border: 3px solid red;color:red;">
        <div width = "50%" >
            {{form.errors}}
        </div>
        <a href="" class="close">&times;</a>
    </div>
</div>
{% endif %}
{% endblock content %}