{% extends 'base.html' %}
{% block content %}
<div class="reg_banner-form">
    <span class="form_title">регистрация</span>
    <form method="POST" action="/signup/add_user" class="login-form spacer" id="signup-form">
    {% csrf_token %}
    
        <div class="input-group">
            {{form.username}}
        </div>
        <div class="input-group">
            {{form.email}}
        </div>
        <div class="input-group">
            {{form.password1}}
        </div>
        <div class="input-group">
            {{form.password2}}
        </div>

        <input class="but" type="submit" class="submit" value="Зарегистрироваться">
    </form>
</div>
{% if f %}
<div id="message">
    <div id="reg" style="border: 3px solid red;color:red;">
        <div width = "50%" >
            {{form.errors}}
        </div>
        <a href="#message" class="close">&times;</a>
    </div>
</div>
{% endif %}
{% endblock content %}